/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
}

/* Header styles */
header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

header h1 {
    margin: 0;
}

#city-form {
    display: flex;
    margin-top: 10px;
}

#city-input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    border-radius: 4px 0 0 4px;
}

#city-input:focus {
    outline: none;
}

button[type="submit"] {
    padding: 5px 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Main styles */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Current weather styles */
#current-weather {
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    color: #fff;
}

#current-weather h2 {
    margin-top: 0;
}

#current-weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#current-weather-info>div {
    width: 48%;
    margin-bottom: 10px;
}

#current-weather-info>div:nth-child(2n) {
    margin-left: 4%;
}

/* Forecast styles */
#forecast {
    margin-bottom: 20px;
}

#forecast h2 {
    margin-top: 0;
}

#forecast-info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

/* Search history styles */
#search-history h2 {
    background-color: #333;
    padding: 20px;
    color: #fff;

}

#search-history-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    padding: 20px;
    color: #fff;
}

#search-history-list li {
    margin-bottom: 5px;
    cursor: pointer;
}

#search-history-list li:hover {
    text-decoration: underline;
    background-color: #4caf50;
}

/* UV index color coding */
.uv-low {
    background-color: #61b15a;
    color: #fff;
}

.uv-moderate {
    background-color: #f8d033;
    color: #333;
}

.uv-high {
    background-color: #f07a35;
    color: #fff;
}

.uv-very-high {
    background-color: #e93f33;
    color: #fff;
}

.uv-extreme {
    background-color: #af2d3e;
    color: #fff;
}